@use '../../variables' as var;

.Panel {
    background-color: var.$panelBackgroundColor;
    box-shadow: var.$shadowSize+px var.$shadowSize+px var.$shadowSize+px 0 rgba(0, 0, 0, var.$shadowOpacity);
    border-radius: var.$borderRadius+px;
}
