@use '../../variables' as var;

.LoginForm {
    margin-top: 80px;
    padding: 0 0 40px 0;
    width: 560px;
}

form{
    padding: 80px 80px 0 80px;
}

legend {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #3A495F;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
}
label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.012em;

    color: #0F2633;
}

input[type="text"], input[type="password"] {
    background: #FFFFFF;
    border: 1.5px solid #D4E2EA;
    border-radius: 4px;
    padding: 8px 16px;
}
.emailLabel{
    padding-top: 40px;
    padding-bottom: 8px;
}
input[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 40px;
    gap: 10px;

    margin-top: 80px;
    margin-left: auto;
    margin-bottom: 40px;

    width: 129px;
    height: 40px;

    background: #3D8EBB;
    border-radius: 4px;

    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;

    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.flexRowSpaceBetween{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 8px;
    align-items: flex-end;
}
.blueUnderline{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;

    color: #3D8EBB;
}
.noAccount{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    /* or 125% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.012em;

    /* Base/Dark grey */
    color: #3A495F;
    padding-top: 40px;
    padding-bottom: 8px;
}
.newAccountSugestion{
    border-top: 2px solid #F2F7FA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.errorWrapper{
    display: flex;
    margin-top: 8px;
    img{
        width: 15px;
        margin-right: 6px;
    }
    div{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #C94F4F;
    }
}
@media only screen and (max-width: 400px){
    .LoginForm {
        margin-top: 10px;
    }
}