$colorWhite:                #FFFFFF;
$colorLightSilver:          #F8F9FA;

$backgroundColor:           $colorLightSilver;
$panelBackgroundColor:      $colorWhite;

$contentMargin:             26;

$shadowSize:                4;
$borderRadius:              4;
